<div>
  <div class="upload-container">
    <input type="file" (change)="onFileSelected($event)" accept="image/*">
    <button mat-raised-button color="primary" (click)="uploadFile()">上傳檔案</button>
  </div>

  <div class="card-container">
    <mat-card *ngFor="let image of displayedImages$ | async" class="card-item">
      <mat-card-header>
        <mat-card-title>{{ image.originFileName }}</mat-card-title>
      </mat-card-header>
      <img class="restricted-image" mat-card-image [src]="getImageDataUrl(image.fileData)" alt={{image.originFileName}}>
      <mat-card-content>
        <p>上傳時間：{{ image.createTime }}</p>
        <p>原圖大小：{{ image.originFileSize }}</p>
        <p>壓縮大小：{{ image.compressFileSize }}</p>
        <button mat-raised-button color="primary" (click)="downloadFile(image.fileName,image.originFileName)">Download</button>
      </mat-card-content>
    </mat-card>
  </div>

</div>
