.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-item {
  width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E1F5FE; /* 设置背景色为浅蓝色 */
}

.card-header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restricted-image {
  max-width: 100%;
  max-height: 200px;
}
