<div class="container">
  <mat-card fxFlex class="login-card">
    <mat-card-title class="title">註冊</mat-card-title>
    <form [formGroup]="form" (ngSubmit)="register()" novalidate>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="使用者名稱" formControlName="username" required>
          <div *ngIf="username!.invalid && (username!.dirty && username!.touched)">
            <mat-error *ngIf="username!.hasError('required')">請輸入使用者名稱</mat-error>
            <mat-error *ngIf="username!.hasError('pattern')">請輸入至少五個字母，數字</mat-error>
          </div>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="密碼" formControlName="password" required>
          <div *ngIf="password!.invalid && (password!.dirty && password!.touched)">
            <mat-error *ngIf="password!.hasError('required')">請輸入密碼</mat-error>
            <mat-error *ngIf="password!.hasError('pattern')">請輸入至少五個字母，數字</mat-error>
          </div>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="btn-center">
        <button mat-raised-button type="submit" [disabled]="!form.valid">註冊</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
